<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ASNAOrders.Agent.Install" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="08529ee2-70b5-486b-9192-875362dc265b">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
