<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ASNAOrders.Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ASNAOrders.Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASNAOrders.Agent.Properties.Settings>
            <setting name="Disabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimingOptions" serializeAs="String">
                <value>DAY</value>
            </setting>
            <setting name="LinesPerFile" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="OneFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpServerUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpServerPort" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="NotificationDelay" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PlaceId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MQVHost" serializeAs="String">
                <value>asna-orders</value>
            </setting>
            <setting name="MQHostname" serializeAs="String">
                <value>farmofficeru.ru</value>
            </setting>
            <setting name="MQPort" serializeAs="String">
                <value>5672</value>
            </setting>
            <setting name="ListenForOrders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepeatIntervalInDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LoadBalancingOneFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadBalancingRowsPerFile" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MQUsername" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="MQPassword" serializeAs="String">
                <value>administrator</value>
            </setting>
        </ASNAOrders.Agent.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ASNAOrders.Agent.Properties.Settings>
      <setting name="OrderTimeout" serializeAs="String">
        <value>10</value>
      </setting>
    </ASNAOrders.Agent.Properties.Settings>
  </applicationSettings>
</configuration>